*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif; 
}
.container{
	width: 960px;
	margin: 0 auto;
}
.logo{
	text-align: center;
	margin: 14px 0px;
}
nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}
nav ul li{
	margin: 0 22px;
}
nav ul li a {
	text-decoration: none;
	font-weight: 500;
	color: #333;
	font-size: 15px;
}
nav ul li a:hover{
	text-decoration: underline;
	color: red;
}
.active{
	text-decoration: underline;
}
.post-detail h2{
	text-transform: uppercase;
}	
.name:hover{
	color: blue;
}
.content{
	margin-top: 26px;
}
.post{
	display: flex;
}
.post-content{
	display: flex;
	align-items: center;
	padding: 0 10px;
}
.description{
	font-size: 14px;
	margin: 16px 0px;
}
.btn-post{
	padding: 8px 12px;
	color: white;
	border: none;
	cursor: pointer;
}
.btn-post{
	background-color: #faa800;
}
.product h2{
	text-align: center;
	text-transform: uppercase;
	padding: 22px 0px;
}
.product-list{
	display: flex;
	justify-content: space-between;
}
.product-item{
	width: 32%;
    position: relative;
    overflow: hidden;
}
.product-item img{
	cursor: pointer;
}
.product-item img:hover{
	transform: scale(1.1);
}
.product-item:hover .product-detail{
	transform: translate(0);

}
.product-detail{
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	transform: translate(100%);
	transition: 0.4s;
}
.product-detail h3{
	text-transform: uppercase;
	padding: 16px;
	font-size: 16px;
}
.product-price{
	display: block;
	margin: 12px 0px;
}
.btn-product{
	background-color: #ffa800;
	width: 100%;
}
footer{
	height: 60px;
	background-color:#021a34;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px;
}
footer p{
	color: white;
	font-size: 12px
}
.btn-footer{
	background-color: #ffa800;
	border-radius: 3px;
}
.footer input{
	padding: 8px 12px;
	border: 2px solid #ffa800;
	outline: none
}
